# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React + TS</title>
    <script type="module" crossorigin src="https://cdn.jsdelivr.net/gh/ikanishakm/home@master/dist/assets/index-J0GEM6nN.js"></script>
    <link rel="stylesheet" crossorigin href="https://cdn.jsdelivr.net/gh/ikanishakm/home@master/dist/assets/index-CEzZsu5o.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>